body {
    font-family: arial,sans-serif;
    color: #222;
}

.navlist-items {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color:#222
}

.foot-items {
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

#navlist-item1 {
    font-size: 14px;
    margin-left: -27px;
}

#navlist-item2 {
    font-size: 14px;
    margin-left: 1px;
}

#navlist-item3 {float: right; margin-top: -5px;}
#navlist-item4 {float: right; margin-top: 1px;}
#navlist-item5 {float: right;font-size: 13px;}
#navlist-item6 {float: right;font-size: 13px;}

#avatar {
    border-radius: 50%;
}

footer {
    margin: 0px;
    padding: 0px;
    background-color: rgb(246, 246, 246);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(211, 211, 211);
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  
}

input {
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    width: 450px;
    border-radius: 25px;
    border: 1px solid;
    border-color: lightgray;
    background-image: url(images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 3% 50%;
}

button {
    font-size: 14px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(218, 220, 224, 0.349);
    border-radius: 5px;
}

#foot-item1 {float: left; margin-left: 100px;}
#foot-item2 {float: left;}
#foot-item3 {float: left;}
#foot-item4 {float: right;}
#foot-item5 {float: right;}
#foot-item6 {float: right; margin-right: 150px;}
